body{
    box-sizing: border-box;
    background-image: url(./img2.jpg);
}
.h-container{
    text-align: center;
    margin-top:50px;
    font-size: xx-large;
}
h3{
    text-align: center;
    color: white;
}

#main{
background-color: transparent;
    border: 1px solid ;
    width: 300px;
    height: 300px;
    padding-left: 5px;
    margin-left:530px;
    margin-top:50px;
border-bottom-right-radius: 20px;
border-top-left-radius: 20px;
}

#timer{
    background-color: transparent;
    margin-top: 10px;
position: relative;
left: 80%;
/* transform: scale(1); */
/* transition: 2s; */
font-weight:bold ;
}
#ques{
    text-align: center;
    color: white;
}

.opt-btn{
    width: 95%;
    height: 30px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 20px;
    background-color:transparent;
color: white;
}
.opt-btn:hover{
    border: 1px solid  rgb(29, 221, 239);
}
.opt-btn:focus{
    border:1px solid rgb(7, 52, 10);
    background-color: rgb(25, 209, 41);
    transition: 1ms;
}

#btn{
    position: relative;
    left: 70%;
    height: 30px;
    /* background-color: black; */
    color: black;
    font-weight: bold;
border: 1px soid black;
border-radius: 10px;
}

